<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8" />
	<title>Template Typo3</title>
	<link rel="stylesheet" type="text/css" href="index.css" />
</head>
<body>
###DOC###
<div id="wrapper">
	<header>
		<div id="datum">###DATE###</div>
		<div id="domain">###DOMAIN###</div>
		<nav id="navio" class="nav">###METNAV###</nav>
		<nav id="pfad">###PFAD###</nav>
	</header>
	<nav id="navi" class="nav">###NAV###</nav>
	<main>###MAIN###</main> 	
</div><!--ende wrapper-->
###DOC###

</body>
</html>
