* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%; 
}
body {
	font-family: Verdana, sans-serif;
	font-size: 12px;
/*background-color:#556;
background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
background-size:80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;*/
background: 
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);	
  background-size: 2em 2em;
  background-color: #232323;

}
/*wrapper
++++++++++++++++++++++++++++*/
#wrapper {
	width: 1000px;
	height: 100%;
	min-height: 100%;
	height: auto !important;
	overflow: hidden !important;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
	padding-bottom: 50px;
}

/*header
++++++++++++++++++++++++++++*/
header {
	float: left;
	width: 1000px;
	margin-bottom: 20px;
}
#datum {
	padding: 5px;
	background-color: #66CC33;
	text-align: right;
	letter-spacing: 5px;
}
#domain {
	border-bottom: solid 2px #09f;
	padding: 20px 5px;
	background-color: #FF9900;
}
.nav ul {
	list-style-type: none;
}
.nav ul li a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	line-height: 10px;
}
#navio {
	clear: both;
	float: left;
	width: 100%;
	border-bottom: solid 2px #09f;
	background-color: #0099FF;
	padding: 5px;
}

#navio  ul li {
	float: left;
}

#navio  ul li a {
	color: #444455;
	transition: all 1s;
}
#navio ul li a:hover {
	background-color: #444455;
	color: #fff;
	text-align: center;
	padding: 10px 30px;
	border-radius: 5px;
}
#pfad {
	clear: both;
	color: #333;
	padding: 10px;
	font-weight: bold;
	background-color: #FF0000;
	color: #ccc;
}
#pfad  a {
	color: #fff;
	font-style: italic;
	text-decoration: none;
}
/*navi
++++++++++++++++++++++++++++*/
#navi {
	clear: both;
	float: left;
	width: 200px;
	position: relative;
}
#navi ul li {
	margin-bottom: 10px;
}
#navi ul li a {
	display: block;
	/*background-color: #1b4b62;*/
	background-color: #000;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 15px;
	line-height: 10px;
	border-bottom: solid 2px #fff;
	position: relative;
	width: 100px;
	transition: all 1s;
}
#navi ul li a:hover, #navi .current {
	background-color: #444455;
	color: #efefef;
	text-align: center;
	width: 150px;
}
/*Link der aktuellen Seite*/
#navi .current {
	background-color: #9999aa;
	color: #000;
}

/*main
++++++++++++++++++++++++++++*/
main {
	float: left;
	width: 800px;
	padding: 20px;
	min-height: 200px;
}


















